  .container {
    padding: 25px;
  }
  
  .homeContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  h1 {
    margin-bottom: 20px;
    color: #645bff;
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
  }
  
  .errorText {
    color: red;
    font-size: 12px;
  }